@font-face {
  font-family: "iconfont"; /* Project id 3450641 */
  src: url('iconfont.woff2?t=1656940583890') format('woff2'),
       url('iconfont.woff?t=1656940583890') format('woff'),
       url('iconfont.ttf?t=1656940583890') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaodankongjianshanchu:before {
  content: "\e8c1";
}

.icon-fuzhi:before {
  content: "\e631";
}

.icon-shanchu:before {
  content: "\e8b6";
}

